<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% load static %}
        <link rel="stylesheet" href="{% static 'words/phyrexian.css' %}">

        <title>My test page</title>
        <style>
            @font-face {
                font-family: phyrexian;
                src: local('Basilica.otf'), url('../../static/words/fonts/Basilica.otf') format("truetype");
            }
            * {
            box-sizing: border-box;
            }

            .row {
            display: flex;
            }

            .column {
                flex: 50%;
                margin: 0px 100px;
            }

            hr.solid {
                border-top: 3px solid black;
            }
            .search-bar{
                border-width:1px;
                border-style: solid;
                border-color: black;
            }
        </style>
    </head>
    <body>
        <!-- Navbar -->
        <div class="w3-top">
            <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
            <a href="/words/" class="w3-bar-item w3-button w3-theme-l1">Phyrexian Dictionary</a>
            <a href="/words/about/" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About</a>
            </div>
        </div>
        <div style="padding: 100px 100px 50px">
            <div style="float:left">
                <h1 class="ultimate phyrexian">{{phyrexian_word.official}}</h1>
            </div>
            <div style="padding-left: 100px">
                <hr class ="solid">
                <h6 class="w3-text-black">Official Transliteration: {{phyrexian_word.official}}</h6>
                <h6 class="w3-text-black">Latin Transliteration: {{phyrexian_word.latin}}</h6>
                <h6 class="w3-text-black">IPA: {{phyrexian_word.ipa}}</h6>
                <h6 class="w3-text-black">Definition: {{phyrexian_word.definition}}</h6>
                <hr class ="solid">
            </div>
        </div>
        <div class="row">
            <div class="column">
                  <h3 class="w3-text-black"> Roots </h3>
                  <ul>
                    {%if not phyrexian_word.parent_relationships.all %}
                        <p class="w3-text-grey"> No roots found </p>
                    {%endif%}
                    {% for root in phyrexian_word.parent_relationships.all %}
                        <li><a href="/../words/{{root.child.official}}/">{{root.child}}</a></li>
                    {% endfor %}
                  </ul>
                  <h3 class="w3-text-black"> Conjugations </h3>
                  <ul>
                    {%if not phyrexian_word.child_relationships.all %}
                        <p class="w3-text-grey"> No conjugations found </p>
                    {%endif%}
                    {% for root in phyrexian_word.child_relationships.all %}
                        <li><a href="/../words/{{root.parent.official}}/">{{root.parent}}</a></li>
                    {% endfor %}
                  </ul>
            </div>
            <div class="column">
                <h3 class="w3-text-black"> Examples </h3>
                <ul>
                    {%if not phyrexian_word.bridges.all %}
                        <p class="w3-text-grey"> No examples found </p>
                    {%endif%}
                    {% for root in phyrexian_word.bridges.all %}
                        <li>{{root.example_text.card}}
                            <ul>
                                <li>{{root.example_text.phyrexian_text}}</li>
                                <li>{{root.example_text.english_text}}</li>
                            </ul>
                        </li>                       
                    {% endfor %}
                  </ul>
            </div>
        </div>
  </body>
</html>